In [1]:
"Anne Hathway"

'Anne Hathway'

In [2]:
'1 2 3 4 5 6 7'

'1 2 3 4 5 6 7'

In [3]:
"@#$%^&*()"

'@#$%^&*()'

In [4]:
Name = "Anne Hathway"

In [9]:
print(Name[0])

n

In [11]:
print(Name[-1])

y

In [12]:
len("Anne Hathway")

12

In [13]:
Name[0:4] 
# When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)

'Anne'

In [14]:
Name[8:11]

'hwa'

In [17]:
# stride
# select every second variable
Name[::2]

'An aha'

In [18]:
#We can also incorporate slicing with the stride. In this case, we select the first five elements and then use the stride:
Name[0:5:2]

'An '

In [19]:
## Concatenate two strings
statement = Name + " is the best"

In [20]:
statement

'Anne Hathway is the best'

In [21]:
# Print the string for 3 times
3 * Name

'Anne HathwayAnne HathwayAnne Hathway'

In [23]:
# New line escape sequence
print ("Anne Hathway \n is the best")

Anne Hathway
 is the best

In [24]:
# Tab escape sequence
print ("Anne Hathway \t is the best")

Anne Hathway 	 is the best

In [25]:
# Include back slash in string
print ("Anne Hathway \\ is the best")

Anne Hathway \ is the best

In [28]:
# r will tell python that string will be display as raw string
# Include back slash in string
print (r"Anne Hathway \ is the best")

Anne Hathway \ is the best

### String operations

In [31]:
# Convert all the characters in string to upper case, using method 'Upper'
A = "Comedy is the sixth studio album"
print("before upper:",A)
B = A.upper()
print("after upper:" , B)

before upper: Comedy is the sixth studio album
after upper: COMEDY IS THE SIXTH STUDIO ALBUM

In [32]:
# Replace the old substring with the new target substring is the segment has been found in the string
A = "Anne Hathway is the best"
B = A.replace("Anne", "oliviya")
B

'oliviya Hathway is the best'

In [33]:
Name = "Michael Jackson"
Name.find('el')

5

In [34]:
Name.find('Jack')

8

In [35]:
Name.find("sdfdsfsd")

-1