# Tuples,List and sets

In [1]:
tuple1 = ("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [2]:
type(tuple1)

tuple

In [6]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [7]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
tuple1[-1]

1.2

In [5]:
tuple1 = ("disco",10,1.2)
tuple2 = tuple1 + ("hard rock", 10)

In [6]:
len(tuple2)

5

In [7]:
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [8]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [9]:
Ratings_sorted = sorted(Ratings)

In [10]:
print(Ratings_sorted)

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [11]:
NestedT = (1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [23]:
print(NestedT[0])
print(NestedT[1])
print(NestedT[2])
print(NestedT[3])
print(NestedT[4])

1
2
('pop', 'rock')
(3, 4)
('disco', (1, 2))

In [25]:
#find the first index of disco

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple.index("disco")

7

In [28]:
# Write your code below and press Shift+Enter to execute
C_tuple=(-5, 1, -3)
C_list = sorted(C_tuple)

In [29]:
C_list

[-5, -3, 1]

## List

In [30]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson

In [41]:
# Use extend to add elements to list
Lavender = [ "Michael Jackson", 10.2]
Lavender = Lavender.extend([11,"RUM"])

In [43]:
alpha = ["sun","star",11,12]

In [44]:
alpha

['sun', 'star', 11, 12]

In [45]:
Lavender

In [48]:
alpha = ["sun","star",11,12]
alpha_all = alpha.append(["planets","asteroids"])
print(alpha_all)

None

In [49]:
alpha1 = ["sun","star",11,12,10]
print("before change :" , alpha1)
alpha1[0] = "planet"
print("after the change :", alpha1)

before change : ['sun', 'star', 11, 12, 10]
after the change : ['planet', 'star', 11, 12, 10]

In [50]:
del(alpha1[0])

In [51]:
print(alpha1)

['star', 11, 12, 10]

In [52]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [53]:
'hard rock'.split()

['hard', 'rock']

In [54]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [55]:
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [56]:
B = A[:]
B

['banana', 10, 1.2]

In [57]:
C = B[:]
C

['banana', 10, 1.2]

## sets

In [59]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"} # sets does not have particular positioons like list and tuples
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [60]:

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [68]:
A = set(["Thriller", "Back in Black", "AC/DC"])
A.add("harold")
A

{'AC/DC', 'Back in Black', 'Thriller', 'harold'}

In [69]:
A.remove("harold")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [71]:
"AC/DC" in A

True

In [72]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [73]:
intersection = album_set1 & album_set2 #WAT EVER IS COMMAN
intersection

{'AC/DC', 'Back in Black'}

In [74]:
album_set1.difference(album_set2)  #elements that are only contained in album_set1 using the difference method:

{'Thriller'}

In [75]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [76]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [77]:
set(album_set1).issuperset(album_set2)

False

In [80]:
set(album_set2).issubset(album_set1)

False

In [81]:
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True